h1{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.container{
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    background-color: #f0f0f0;
}

.button{
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: darkgreen;
}